@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@500&display=swap');

.hero {
  background-image: url(https://image.freepik.com/free-photo/closeup-surface-marble-pattern-marble-stone-wall-texture-background_85347-607.jpg);
  background: linear-gradient(rgba(31, 44, 108, 0.65), rgba(31, 44, 108, 0.65)), rgba(0, 0, 0, 0.55) url("https://image.freepik.com/free-photo/closeup-surface-marble-pattern-marble-stone-wall-texture-background_85347-607.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: 'Open Sans Condensed', sans-serif;
}

.hero .title {
  font-family: 'Birthstone Bounce', cursive;
  transform: rotate(-10deg);
  font-size: 200px;
  color: #4EA7A6;
}

.subtitle {
  text-transform: uppercase;
  font-size: 50px;
  color: whitesmoke;
}